* {
  font-family: Trebuchet, sans-serif;
  font-size: 1.1em;
  color: white;
}

body {
  background-image: url("images/sunset-default.jpg")
  background-color: grey;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 2048px) {
  body {
    background-image: url("images/sunset-default.jpg")
    background-color: grey;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.unit {
  margin: 50px 0;
}

.btn {
  background-color: rgba(255,255,255,0);
  border-color: white;
}

.btn:focus {
  box-shadow: none;
  background-color: rgba(255,255,255,1);
  color: black;
}

.temp {
  font-size: 3em;
  font-weight: bold;
}

.minMax {
  margin-bottom: 0px;
}

.weather {
  font-variant:small-caps;
  font-size: 1em
}

.signature {
  text-align: center;
  font-size: 1em;
  font-variant: small-caps;
  opacity: 0.7;
  margin-top:150px;
}
